header{
    height: 3rem;
    color: white;
    background-color: mediumseagreen;
    text-align: center;
}

header p{
    font-size: 1.7rem;
}

#caja{
    width: 500px;
    margin: 2rem;
}

.list-group-item{
    padding: 1.5rem 3rem;
}

.btn{
    width: 100%;
    margin-top: 30px;
}

#mensajeEliminacion{
    display: none;
    color: darkred;
}

#mensajeConfirmacion{
    display: none;
    color: limegreen;
}

footer p{
    color: white;
    text-align: center;
    padding: 20px;
}
