/* Establecer el fondo a magenta pastel */
body {
    background-color: #fca3e3;
}

/* Centrar el contenido en la pantalla */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para el encabezado */
header {
    text-align: center;
}

/* Estilo para la lista de materias */
#materias {
    background-color: #b6eaea; /* Azul celeste */
    border: 2px solid #6700cd; /* Azul oscuro */
    padding: 10px;
    border-radius: 10px;
}

#materias h2 {
    text-align: center;
}

/* Estilo para la lista de materias */
#materias ol {
    list-style-type: none;
    padding: 0;
}

#materias li {
    margin: 10px 0;
}

#materias a {
    color: #0000CD; /* Azul oscuro */
    text-decoration: none;
}

#materias a:hover {
    color: #4169E1; /* Azul real */
}
